bin/
obj/
.vs/
.vscode/
.dotnet/
.nuget/
.lavish/
.keys/
.DS_Store
*.user
*.suo
*.db
*.log
src/YumDash.Web/bin/
src/YumDash.Web/obj/
src/YumDash.Web/.keys/
src/YumDash.Web/yumdash-dev.db
node_modules/
__pycache__/
